@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = "_Layout";
}

<div class="error-container">
    <h2 class="error-title">Peço desculpas, algo deu errado 😔</h2>
    <p class="error-message">Estamos trabalhando para corrigir o problema. Por favor, tente novamente mais tarde!</p>
    <p class="error-help">Se precisar de ajuda, entre em contato conosco.</p>
    <a href="/" class="btn-home">Voltar para a página inicial</a>
</div>